body {
  margin: 2rem;
}

.header {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.header:hover .reset-list {
  visibility: visible;
  cursor: pointer;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 10px 0;
  border-left: 15px solid;
  font-family: sans-serif;
  user-select: none;
}

.todo-item:hover .cross {
  cursor: pointer;
  visibility: visible;
}

.cross {
  font-size: 14px;
  font-weight: 700;
  color: grey;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.todo {
  border-color: lightblue;
}

.in-progress {
  border-color: orange;
}

.done {
  border-color: mediumseagreen;
  text-decoration: line-through;
}
