body {
  margin: 2rem;
}

input {
  font-family: sans-serif;
  font-size: 1rem;
  width: -webkit-fill-available;
}

.header {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-right: 4px;
  display: flex;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.header > div {
  width: -webkit-fill-available;
}

.header:hover {
  cursor: pointer;
}

.todo-list {
  width: 12rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  margin: 4px 0;
  border-left: 10px solid;
  font-family: sans-serif;
  user-select: none;
  width: -webkit-fill-available;
}

.todo-item > span {
  word-break: break-word;
}

.todo-item:hover {
  cursor: pointer;
}

.cross-hover {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.cross-hover:hover {
  background: rgba(0, 0, 0, 0.04);
}

.cross-hover:hover .cross {
  cursor: pointer;
  visibility: visible;
}

.cross {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cross:hover {
  cursor: pointer;
}

.todo {
  border-color: lightblue;
}

.in-progress {
  border-color: orange;
}

.done {
  border-color: mediumseagreen;
  text-decoration: line-through;
}
