body {
  margin: 2rem;
}

.header {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.todo-item {
  display: flex;
  padding-left: 10px;
  margin: 10px 0;
  border-left: 15px solid;
  font-family: sans-serif;
}

.todo {
  border-color: lightblue;
}

.in-progress {
  border-color: orange;
}

.done {
  border-color: mediumseagreen;
  text-decoration: line-through;
}
